<footer id="footer">
  <div id="footer-inner">
    <div class="column">
      <h4>Event Location</h4>
      <p>We meet on the last monday of each month at the Ignite 100 Loft, courtesy of the guys at <a href="http://www.ignite100.com">Ignite 100</a></p>
      <p>Ignite 100, Suite 20, Adamson House, 65 Westgate Road, Newcastle upon Tyne, NE1 1SG</p>
    </div>
    <div class="column">
      <h4>The Event</h4>
      <p>The format of the event will vary from month to month and usually consists of informal presentations by local speakers.</p>
      <p>These talks can be on anything from interesting &amp; relevant discussion topics or showcasing upcoming tools and methodologies.</p>
    </div>
    <div class="column">
      <h4>After the event</h4>
      <p>Many of us make our way to the pub after the event for further discussions and networking.</p>
      <p>The location of which is usually decided amongst the group on the evning of the event.</p>
    </div>
  </div>
  <div id="copy">
    <div id="copy-inner">
      <span>Copyright &copy;2013. JS North East</span>
    </div>
  </div>
</footer>
