<aside id="sidebar">
  <article>
    <h2>Upcoming Events</h2>
    <ul>
      {% for post in site.posts limit:5 %}
        {% if post.category == "events" %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    <p><a href="/events">View more</a></p>
  </article>
  <article>
    <h2>Recent Posts</h2>
    <ul>
      {% for post in site.posts limit:5 %}
        {% if post.category == "blog" %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    <p><a href="/blog">View more</a></p>
  </article>
  <article>
    <h2>Recent Discussion</h2>
    <p><a href="http://discourse.jsnortheast.co.uk/">Join the discussion</a></p>
  </article>
</aside>
