<aside id="sidebar">
  <article>
    <h2>Upcoming Events</h2>
    <ul>
      <li><a href="#">Event One</a></li>
      <li><a href="#">Event Two</a></li>
      <li><a href="#">Event Three</a></li>
    </ul>
    <p><a href="#">View more</a></p>
  </article>
  <article>
    <h2>Recent Posts</h2>
    <ul>
      <li><a href="#">Post One</a></li>
      <li><a href="#">Post Two</a></li>
      <li><a href="#">Post Three</a></li>
    </ul>
    <p><a href="#">View more</a></p>
  </article>
  <article>
    <h2>Recent Discussion</h2>
    <p><a href="#">Join the discussion</a></p>
  </article>
  <article>
    <h2>Sponsors</h2>
    <ul>
      <li><a href="#">Sponsor One</a></li>
      <li><a href="#">Sponsor Two</a></li>
      <li><a href="#">Sponsor Three</a></li>
    </ul>
  </article>
</aside>
